@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(to right, #e4e3f1, #f3f3b1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

h1 {
    letter-spacing: 5px;
    margin: 20px 0px;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    border-radius: 10px;
    box-shadow: 2px 5px 20px rgba(100, 100, 100, 0.5);
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.imgContainer {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer img {
    max-width: 90%;

}

.info {
    margin-top: 20px;
}

.number {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.name {
    margin: 15px 0px 5px;
    letter-spacing: 1.6px;
    font-size: 20px;
}